In [1]:
import pandas as pd
import re
import requests
from bs4 import BeautifulSoup
from mysql.connector import (connection)
from collections import defaultdict
cnx = connection.MySQLConnection(user='root', password='samanJA1381',
                                 host='127.0.0.1',
                                 database='maktabkhooneh')

In [2]:
keeper = []
truecar = defaultdict(list)
vehicle = input('what car are u looking for?(brand and model): ').split(' ')

try:
    res = requests.get('https://www.truecar.com/used-cars-for-sale/listings/%s/%s/' % (vehicle[0],vehicle[1],))

    if res.status_code==403:
        raise Exception('\nSorry, the website you are trying to send REST API request is forbbiden 403 Error.')


except ConnectTimeoutError as e:
    print('Connection timed out!.')

except Exception as e:
    print("Sorry,something wnet wrong ...!" , e)


else:
    if res.status_code==200:
        print('API request successfully accepted.')
    
    for i in range (1,10):
        
        res = requests.get('https://www.truecar.com/used-cars-for-sale/listings/%s/%s/?page=%i' % (vehicle[0],vehicle[1],i))
        soup = BeautifulSoup(res.text,'html.parser')
        cars = soup.find_all('div',attrs = {'data-test':"cardContent", 'class':"card-content order-3 vehicle-card-body"})
        
        for car in cars:
            want = re.findall(r'\w*?(\d+ \w+ \w+) .* list price(\$\d+\,\d{3})*(\$\d+\,\d{3})(\d+\,*\d*)',car.text)
            if want==[]:
                continue
            final = []
            for i in want:
                for j in i:
                    if j!='':
                        final.append(j)
            if len(final)==4:
                final.remove(final[1])    
            
            all = final[0].split(' ')
            year = all[0]
            year = int(year)
            brand = all[1]
            model = all[2]
            price = final[1]
            mile = final[2]
            if final in keeper:
                continue
            else:
                keeper.extend(final)
        
            cursor = cnx.cursor()
            cursor.execute('INSERT INTO cars VALUES (\'%s\',\'%s\' , \'%i\' , \'%s\' , \'%s\') '  % ((brand,model,year,price,mile)))
            cnx.commit()        
            print('%s %s %i is %s and mileage is %s'%(brand,model,year,price,mile))


        cursor = cnx.cursor()    
        query = 'SELECT * FROM cars WHERE brand = brand or model = model;'    
        cursor.execute(query)

        for brand,model,year,price,mile in cursor:
            mile = mile.split(',')
            mile = ''.join(mile)
            mile = int(mile)
            price = price.split('$')
            price = price[1].split(',')
            price = ''.join(price)
            price = int(price)
            truecar["brand"].append(brand)
            truecar["model"].append(model)
            truecar["year"].append(year)
            truecar["price$"].append(price)
            truecar["mileage"].append(mile)

    
    removal = 'TRUNCATE TABLE cars;' 
# for excecution cursor.execute(removal)
finally:    
    cnx.close() 
    print('revale')

df = pd.DataFrame(truecar)
print(df)

what car are u looking for?(brand and model):  lamborghini huracan

API request successfully accepted.
Lamborghini HuracanSTO 2023 is $375,500 and mileage is 1,693
Lamborghini HuracanSpyder 2017 is $249,756 and mileage is 1,428
Lamborghini HuracanCoupe 2020 is $279,596 and mileage is 5,512
Lamborghini HuracanSTO 2022 is $389,900 and mileage is 172
Lamborghini HuracanCoupeExcellent 2023 is $329,988 and mileage is 151
Lamborghini HuracanCoupe 2020 is $245,163 and mileage is 8,960
Lamborghini HuracanLP 2015 is $208,790 and mileage is 17,858
Lamborghini HuracanLP 2015 is $234,900 and mileage is 2,548
Lamborghini HuracanAvio 2017 is $269,919 and mileage is 1,233
Lamborghini HuracanSypder 2017 is $214,000 and mileage is 15,525
Lamborghini HuracanSpyder 2018 is $225,500 and mileage is 9,196
Lamborghini HuracanSTO 2023 is $418,629 and mileage is 1,379
Lamborghini HuracanCoupeGreat 2023 is $317,995 and mileage is 262
Lamborghini HuracanSpyder 2020 is $293,999 and mileage is 3,302
Lamborghini HuracanLP 2016 is $208,995 and mileage is 17,813
Lamborghini HuracanSTO 2022 is $378,988 and mileage is 6,340
Lamborghini HuracanSTO 2022 is $355,000 and mileage is 1,312
Lamborghini HuracanEVO 2021 is $299,748 and mileage is 5,044
Lamborghini HuracanEVO 2021 is $289,995 and mileage is 8,267
Lamborghini HuracanSpyder 2019 is $222,500 and mileage is 17,175
Lamborghini HuracanSTO 2021 is $399,900 and mileage is 2,031
Lamborghini HuracanCoupe 2018 is $199,900 and mileage is 24,954
Lamborghini HuracanLP 2015 is $159,998 and mileage is 30,823
Lamborghini HuracanCoupeGreat 2023 is $339,500 and mileage is 2,020
Lamborghini HuracanSpyder 2017 is $230,000 and mileage is 9,121
Lamborghini HuracanLP 2015 is $199,991 and mileage is 21,854
Lamborghini HuracanSpyder 2020 is $284,900 and mileage is 4,211
Lamborghini HuracanSTO 2023 is $444,841 and mileage is 3,409
Lamborghini HuracanCoupe 2020 is $239,988 and mileage is 19,596
Lamborghini HuracanCoupeExcellent 2023 is $314,991 and mileage is 3,254
Lamborghini HuracanCoupe 2019 is $239,999 and mileage is 5,247
Lamborghini HuracanSTO 2022 is $389,951 and mileage is 593
Lamborghini HuracanSpyder 2017 is $197,000 and mileage is 33,119
Lamborghini HuracanSpyder 2020 is $294,762 and mileage is 3,191
Lamborghini HuracanCoupeGreat 2023 is $319,951 and mileage is 2,670
Lamborghini HuracanCoupeFair 2023 is $359,928 and mileage is 1,325
Lamborghini HuracanEVO 2021 is $299,998 and mileage is 5,494
Lamborghini HuracanSTO 2022 is $349,995 and mileage is 7,893
Lamborghini HuracanEVO 2023 is $305,995 and mileage is 6,805
Lamborghini HuracanEVO 2022 is $328,788 and mileage is 3,685
Lamborghini HuracanSTO 2022 is $377,951 and mileage is 378
Lamborghini HuracanSTO 2022 is $459,995 and mileage is 404
Lamborghini HuracanLP 2015 is $199,000 and mileage is 40,608
Lamborghini HuracanSypder 2017 is $204,917 and mileage is 25,180
Lamborghini HuracanSpyder 2020 is $299,894 and mileage is 1,433
Lamborghini HuracanSpyder 2017 is $233,900 and mileage is 10,951
Lamborghini HuracanSTO 2022 is $372,951 and mileage is 1,860
Lamborghini HuracanEVO 2021 is $278,951 and mileage is 4,814
Lamborghini HuracanCoupeGreat 2023 is $329,995 and mileage is 1,566
Lamborghini HuracanEVO 2022 is $279,995 and mileage is 2,340
Lamborghini HuracanLP 2016 is $219,998 and mileage is 17,500
Lamborghini HuracanSpyder 2018 is $234,991 and mileage is 13,505
Lamborghini HuracanEVO 2021 is $279,990 and mileage is 6,889
Lamborghini HuracanSpyder 2019 is $223,599 and mileage is 18,423
Lamborghini HuracanSpyder 2017 is $216,999 and mileage is 25,536
Lamborghini HuracanEVO 2022 is $299,888 and mileage is 2,808
Lamborghini HuracanSypder 2017 is $179,991 and mileage is 48,301
Lamborghini HuracanEVO 2021 is $269,999 and mileage is 17,552
Lamborghini HuracanSpyder 2017 is $199,998 and mileage is 36,012
Lamborghini HuracanSTO 2022 is $379,951 and mileage is 104
Lamborghini HuracanSTO 2022 is $375,951 and mileage is 2,251
Lamborghini HuracanCoupe 2020 is $269,951 and mileage is 7,895
Lamborghini HuracanCoupe 2020 is $269,995 and mileage is 7,765
Lamborghini HuracanEVO 2023 is $339,950 and mileage is 809
Lamborghini HuracanLP 2015 is $185,990 and mileage is 32,948
Lamborghini HuracanLP 2016 is $186,999 and mileage is 22,953
Lamborghini HuracanCoupe 2019 is $249,000 and mileage is 2,750
Lamborghini HuracanSpyder 2020 is $306,996 and mileage is 15,517
Lamborghini HuracanEVO 2022 is $294,772 and mileage is 2,461
Lamborghini HuracanSpyder 2019 is $234,997 and mileage is 6,000
Lamborghini HuracanCoupe 2020 is $264,499 and mileage is 8,049
Lamborghini HuracanEVO 2022 is $328,898 and mileage is 4,615
Lamborghini HuracanEVO 2021 is $269,888 and mileage is 4,600
Lamborghini HuracanSTO 2023 is $429,998 and mileage is 796
Lamborghini HuracanLP 2015 is $199,999 and mileage is 39,104
Lamborghini HuracanCoupe 2020 is $239,991 and mileage is 13,592
Lamborghini HuracanCoupe 2017 is $189,999 and mileage is 25,014
Lamborghini HuracanSpyder 2019 is $199,998 and mileage is 34,644
Lamborghini HuracanEVO 2021 is $269,999 and mileage is 12,795
Lamborghini HuracanEVO 2021 is $264,900 and mileage is 13,689
Lamborghini HuracanSTO 2023 is $439,999 and mileage is 134
Lamborghini HuracanLP 2016 is $236,900 and mileage is 8,753
Lamborghini HuracanCoupeFair 2023 is $339,990 and mileage is 1,742
Lamborghini HuracanCoupe 2020 is $269,951 and mileage is 11,876
Lamborghini HuracanEVO 2021 is $249,991 and mileage is 29,330
Lamborghini HuracanLP 2015 is $224,998 and mileage is 4,630
Lamborghini HuracanEVO 2022 is $307,990 and mileage is 4,842
Lamborghini HuracanEVO 2022 is $319,990 and mileage is 3,885
Lamborghini HuracanEVO 2021 is $239,817 and mileage is 38,793
Lamborghini HuracanSpyder 2019 is $249,995 and mileage is 6,021
Lamborghini HuracanEVO 2022 is $294,817 and mileage is 4,440
Lamborghini HuracanEVO 2021 is $276,995 and mileage is 29,730
Lamborghini HuracanLP 2015 is $229,998 and mileage is 18,331
Lamborghini HuracanSpyder 2020 is $264,951 and mileage is 10,682
Lamborghini HuracanCoupeFair 2023 is $345,951 and mileage is 2,698
Lamborghini HuracanCoupe 2020 is $259,951 and mileage is 7,460
Lamborghini HuracanSpyder 2018 is $199,995 and mileage is 20,198
Lamborghini HuracanEVO 2021 is $239,995 and mileage is 25,200
Lamborghini HuracanEVO 2023 is $359,995 and mileage is 883
Lamborghini HuracanSTO 2023 is $399,951 and mileage is 1,076
Lamborghini HuracanCoupe 2020 is $259,995 and mileage is 7,100
Lamborghini HuracanEVO 2022 is $329,999 and mileage is 546
Lamborghini HuracanLP 2016 is $184,693 and mileage is 32,212
Lamborghini HuracanEVO 2022 is $279,900 and mileage is 2,346
Lamborghini HuracanPerformante 2018 is $359,991 and mileage is 5,729
Lamborghini HuracanSTO 2023 is $459,951 and mileage is 867
Lamborghini HuracanSTO 2022 is $498,500 and mileage is 426
Lamborghini HuracanCoupe 2018 is $195,499 and mileage is 39,655
Lamborghini HuracanSterrato 2023 is $389,995 and mileage is 1,158
Lamborghini HuracanEVO 2021 is $272,951 and mileage is 3,923
Lamborghini HuracanCoupe 2017 is $219,995 and mileage is 10,348
Lamborghini HuracanCoupe 2017 is $209,951 and mileage is 18,468
Lamborghini HuracanSpyder 2020 is $244,900 and mileage is 35,347
Lamborghini HuracanSpyder 2018 is $179,998 and mileage is 64,231
Lamborghini HuracanLP 2015 is $219,975 and mileage is 3,580
Lamborghini HuracanCoupe 2018 is $189,998 and mileage is 45,210
Lamborghini HuracanCoupe 2017 is $229,998 and mileage is 12,844
Lamborghini HuracanSpyder 2017 is $229,991 and mileage is 30,452
Lamborghini HuracanPerformante 2018 is $359,998 and mileage is 8,776
Lamborghini HuracanLP 2016 is $199,998 and mileage is 33,844
Lamborghini HuracanEVO 2022 is $318,749 and mileage is 2,879
Lamborghini HuracanSTO 2023 is $375,500 and mileage is 1,693
Lamborghini HuracanSpyder 2017 is $249,756 and mileage is 1,428
Lamborghini HuracanCoupe 2020 is $279,596 and mileage is 5,512
Lamborghini HuracanSTO 2022 is $389,900 and mileage is 172
Lamborghini HuracanCoupeExcellent 2023 is $329,988 and mileage is 151
Lamborghini HuracanCoupe 2020 is $245,163 and mileage is 8,960
Lamborghini HuracanLP 2015 is $208,790 and mileage is 17,858
Lamborghini HuracanLP 2015 is $234,900 and mileage is 2,548
Lamborghini HuracanAvio 2017 is $269,919 and mileage is 1,233
Lamborghini HuracanSypder 2017 is $214,000 and mileage is 15,525
Lamborghini HuracanSpyder 2018 is $225,500 and mileage is 9,196
Lamborghini HuracanSTO 2023 is $418,629 and mileage is 1,379
Lamborghini HuracanCoupeGreat 2023 is $317,995 and mileage is 262
Lamborghini HuracanSpyder 2020 is $293,999 and mileage is 3,302
Lamborghini HuracanLP 2016 is $208,995 and mileage is 17,813
Lamborghini HuracanSTO 2022 is $378,988 and mileage is 6,340
Lamborghini HuracanSTO 2022 is $355,000 and mileage is 1,312
Lamborghini HuracanEVO 2021 is $299,748 and mileage is 5,044
Lamborghini HuracanEVO 2021 is $289,995 and mileage is 8,267
Lamborghini HuracanSpyder 2019 is $222,500 and mileage is 17,175
Lamborghini HuracanSTO 2021 is $399,900 and mileage is 2,031
Lamborghini HuracanCoupe 2018 is $199,900 and mileage is 24,954
Lamborghini HuracanLP 2015 is $159,998 and mileage is 30,823
Lamborghini HuracanCoupeGreat 2023 is $339,500 and mileage is 2,020
Lamborghini HuracanSpyder 2017 is $230,000 and mileage is 9,121
Lamborghini HuracanLP 2015 is $199,991 and mileage is 21,854
Lamborghini HuracanSpyder 2020 is $284,900 and mileage is 4,211
Lamborghini HuracanSTO 2023 is $444,841 and mileage is 3,409
Lamborghini HuracanCoupe 2020 is $239,988 and mileage is 19,596
Lamborghini HuracanSTO 2023 is $375,500 and mileage is 1,693
Lamborghini HuracanSpyder 2017 is $249,756 and mileage is 1,428
Lamborghini HuracanCoupe 2020 is $279,596 and mileage is 5,512
Lamborghini HuracanSTO 2022 is $389,900 and mileage is 172
Lamborghini HuracanCoupeExcellent 2023 is $329,988 and mileage is 151
Lamborghini HuracanCoupe 2020 is $245,163 and mileage is 8,960
Lamborghini HuracanLP 2015 is $208,790 and mileage is 17,858
Lamborghini HuracanLP 2015 is $234,900 and mileage is 2,548
Lamborghini HuracanAvio 2017 is $269,919 and mileage is 1,233
Lamborghini HuracanSypder 2017 is $214,000 and mileage is 15,525
Lamborghini HuracanSpyder 2018 is $225,500 and mileage is 9,196
Lamborghini HuracanSTO 2023 is $418,629 and mileage is 1,379
Lamborghini HuracanCoupeGreat 2023 is $317,995 and mileage is 262
Lamborghini HuracanSpyder 2020 is $293,999 and mileage is 3,302
Lamborghini HuracanLP 2016 is $208,995 and mileage is 17,813
Lamborghini HuracanSTO 2022 is $378,988 and mileage is 6,340
Lamborghini HuracanSTO 2022 is $355,000 and mileage is 1,312
Lamborghini HuracanEVO 2021 is $299,748 and mileage is 5,044
Lamborghini HuracanEVO 2021 is $289,995 and mileage is 8,267
Lamborghini HuracanSpyder 2019 is $222,500 and mileage is 17,175
Lamborghini HuracanSTO 2021 is $399,900 and mileage is 2,031
Lamborghini HuracanCoupe 2018 is $199,900 and mileage is 24,954
Lamborghini HuracanLP 2015 is $159,998 and mileage is 30,823
Lamborghini HuracanCoupeGreat 2023 is $339,500 and mileage is 2,020
Lamborghini HuracanSpyder 2017 is $230,000 and mileage is 9,121
Lamborghini HuracanLP 2015 is $199,991 and mileage is 21,854
Lamborghini HuracanSpyder 2020 is $284,900 and mileage is 4,211
Lamborghini HuracanSTO 2023 is $444,841 and mileage is 3,409
Lamborghini HuracanCoupe 2020 is $239,988 and mileage is 19,596
Lamborghini HuracanSTO 2023 is $375,500 and mileage is 1,693
Lamborghini HuracanSpyder 2017 is $249,756 and mileage is 1,428
Lamborghini HuracanCoupe 2020 is $279,596 and mileage is 5,512
Lamborghini HuracanSTO 2022 is $389,900 and mileage is 172
Lamborghini HuracanCoupeExcellent 2023 is $329,988 and mileage is 151
Lamborghini HuracanCoupe 2020 is $245,163 and mileage is 8,960
Lamborghini HuracanLP 2015 is $208,790 and mileage is 17,858
Lamborghini HuracanLP 2015 is $234,900 and mileage is 2,548
Lamborghini HuracanAvio 2017 is $269,919 and mileage is 1,233
Lamborghini HuracanSypder 2017 is $214,000 and mileage is 15,525
Lamborghini HuracanSpyder 2018 is $225,500 and mileage is 9,196
Lamborghini HuracanSTO 2023 is $418,629 and mileage is 1,379
Lamborghini HuracanCoupeGreat 2023 is $317,995 and mileage is 262
Lamborghini HuracanSpyder 2020 is $293,999 and mileage is 3,302
Lamborghini HuracanLP 2016 is $208,995 and mileage is 17,813
Lamborghini HuracanSTO 2022 is $378,988 and mileage is 6,340
Lamborghini HuracanSTO 2022 is $355,000 and mileage is 1,312
Lamborghini HuracanEVO 2021 is $299,748 and mileage is 5,044
Lamborghini HuracanEVO 2021 is $289,995 and mileage is 8,267
Lamborghini HuracanSpyder 2019 is $222,500 and mileage is 17,175
Lamborghini HuracanSTO 2021 is $399,900 and mileage is 2,031
Lamborghini HuracanCoupe 2018 is $199,900 and mileage is 24,954
Lamborghini HuracanLP 2015 is $159,998 and mileage is 30,823
Lamborghini HuracanCoupeGreat 2023 is $339,500 and mileage is 2,020
Lamborghini HuracanSpyder 2017 is $230,000 and mileage is 9,121
Lamborghini HuracanLP 2015 is $199,991 and mileage is 21,854
Lamborghini HuracanSpyder 2020 is $284,900 and mileage is 4,211
Lamborghini HuracanSTO 2023 is $444,841 and mileage is 3,409
Lamborghini HuracanCoupe 2020 is $239,988 and mileage is 19,596
Lamborghini HuracanSTO 2023 is $375,500 and mileage is 1,693
Lamborghini HuracanSpyder 2017 is $249,756 and mileage is 1,428
Lamborghini HuracanCoupe 2020 is $279,596 and mileage is 5,512
Lamborghini HuracanSTO 2022 is $389,900 and mileage is 172
Lamborghini HuracanCoupeExcellent 2023 is $329,988 and mileage is 151
Lamborghini HuracanCoupe 2020 is $245,163 and mileage is 8,960
Lamborghini HuracanLP 2015 is $208,790 and mileage is 17,858
Lamborghini HuracanLP 2015 is $234,900 and mileage is 2,548
Lamborghini HuracanAvio 2017 is $269,919 and mileage is 1,233
Lamborghini HuracanSypder 2017 is $214,000 and mileage is 15,525
Lamborghini HuracanSpyder 2018 is $225,500 and mileage is 9,196
Lamborghini HuracanSTO 2023 is $418,629 and mileage is 1,379
Lamborghini HuracanCoupeGreat 2023 is $317,995 and mileage is 262
Lamborghini HuracanSpyder 2020 is $293,999 and mileage is 3,302
Lamborghini HuracanLP 2016 is $208,995 and mileage is 17,813
Lamborghini HuracanSTO 2022 is $378,988 and mileage is 6,340
Lamborghini HuracanSTO 2022 is $355,000 and mileage is 1,312
Lamborghini HuracanEVO 2021 is $299,748 and mileage is 5,044
Lamborghini HuracanEVO 2021 is $289,995 and mileage is 8,267
Lamborghini HuracanSpyder 2019 is $222,500 and mileage is 17,175
Lamborghini HuracanSTO 2021 is $399,900 and mileage is 2,031
Lamborghini HuracanCoupe 2018 is $199,900 and mileage is 24,954
Lamborghini HuracanLP 2015 is $159,998 and mileage is 30,823
Lamborghini HuracanCoupeGreat 2023 is $339,500 and mileage is 2,020
Lamborghini HuracanSpyder 2017 is $230,000 and mileage is 9,121
Lamborghini HuracanLP 2015 is $199,991 and mileage is 21,854
Lamborghini HuracanSpyder 2020 is $284,900 and mileage is 4,211
Lamborghini HuracanSTO 2023 is $444,841 and mileage is 3,409
Lamborghini HuracanCoupe 2020 is $239,988 and mileage is 19,596
revale
             brand          model  year  price$  mileage
0           Nissan        VersaSV  2021   11995    63150
1             Ford    ExplorerXLT  2020   19900    94741
2           Nissan        VersaSV  2021   14598    64097
3        Chevrolet      EquinoxLT  2019   14367    77349
4        Chevrolet      EquinoxLT  2020   16698    78322
...            ...            ...   ...     ...      ...
70384  Lamborghini  HuracanSpyder  2017  230000     9121
70385  Lamborghini      HuracanLP  2015  199991    21854
70386  Lamborghini  HuracanSpyder  2020  284900     4211
70387  Lamborghini     HuracanSTO  2023  444841     3409
70388  Lamborghini   HuracanCoupe  2020  239988    19596

[70389 rows x 5 columns]

In [3]:
filt = (df['brand']=='BMW') & (df['year'] > 2020)
new_df = df.loc[filt]
new_df

      brand  model  year  price$  mileage
40      BMW      s  2021   25900    62813
58      BMW      s  2021   25900    62813
66      BMW    120  2021   30997    31700
70      BMW    120  2021   27998    17370
72      BMW      s  2021   34174     6731
...     ...    ...   ...     ...      ...
70088   BMW    i3s  2021   25900    62813
70116   BMW  i3120  2021   30997    31700
70130   BMW  i3120  2021   27998    17370
70139   BMW    i3s  2021   34174     6731
70149   BMW    i3s  2021   27995    26753

[2370 rows x 5 columns]

In [4]:
df['price$'] = df['price$'].apply(lambda x: ('%i$' % x))

In [5]:
df.columns = df.columns.str.capitalize()

In [6]:
df

             Brand          Model  Year   Price$  Mileage
0           Nissan        VersaSV  2021   11995$    63150
1             Ford    ExplorerXLT  2020   19900$    94741
2           Nissan        VersaSV  2021   14598$    64097
3        Chevrolet      EquinoxLT  2019   14367$    77349
4        Chevrolet      EquinoxLT  2020   16698$    78322
...            ...            ...   ...      ...      ...
70384  Lamborghini  HuracanSpyder  2017  230000$     9121
70385  Lamborghini      HuracanLP  2015  199991$    21854
70386  Lamborghini  HuracanSpyder  2020  284900$     4211
70387  Lamborghini     HuracanSTO  2023  444841$     3409
70388  Lamborghini   HuracanCoupe  2020  239988$    19596

[70389 rows x 5 columns]

In [12]:
df.drop_duplicates(inplace=True)

In [14]:
df.reset_index()

     index        Brand               Model  Year   Price$  Mileage
0        0       Nissan             VersaSV  2021   11995$    63150
1        1         Ford         ExplorerXLT  2020   19900$    94741
2        2       Nissan             VersaSV  2021   14598$    64097
3        3    Chevrolet           EquinoxLT  2019   14367$    77349
4        4    Chevrolet           EquinoxLT  2020   16698$    78322
..     ...          ...                 ...   ...      ...      ...
256  27728  Lamborghini        HuracanCoupe  2017  229998$    12844
257  28024  Lamborghini       HuracanSpyder  2017  229991$    30452
258  28321  Lamborghini  HuracanPerformante  2018  359998$     8776
259  28619  Lamborghini           HuracanLP  2016  199998$    33844
260  28918  Lamborghini          HuracanEVO  2022  318749$     2879

[261 rows x 6 columns]

In [16]:
filt = df['Brand'] == 'Lamborghini'
lambo = df.loc[filt]

In [17]:
lambo.reset_index()

     index        Brand                  Model  Year   Price$  Mileage
0      178  Lamborghini             HuracanSTO  2023  375500$     1693
1      358  Lamborghini          HuracanSpyder  2017  249756$     1428
2      539  Lamborghini           HuracanCoupe  2020  279596$     5512
3      721  Lamborghini             HuracanSTO  2022  389900$      172
4      904  Lamborghini  HuracanCoupeExcellent  2023  329988$      151
..     ...          ...                    ...   ...      ...      ...
116  27728  Lamborghini           HuracanCoupe  2017  229998$    12844
117  28024  Lamborghini          HuracanSpyder  2017  229991$    30452
118  28321  Lamborghini     HuracanPerformante  2018  359998$     8776
119  28619  Lamborghini              HuracanLP  2016  199998$    33844
120  28918  Lamborghini             HuracanEVO  2022  318749$     2879

[121 rows x 6 columns]